h1 {
    color: #004d00;
    font-family: "Arial Black", Gadget, sans-serif;
}
#container-A {
    width: 100%;
}

#container-B {
    width: 100%;
}

 .buttons-container {
    text-align: center;
  }

  .button {
      width: 45px;
      height: 45px;
  }

  input {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px 4px;
    margin: 4px;
    text-align: center;
}

.smaller-input {
    width: 60px;
}

  .fill-gap-space {
      height: 100px;
  }

  .center-content {
      text-align: center;
  }


