 body {
       font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
 }
 h1 {
    color: #004d00;
 }

p {
    color:  #331a00;
    font-weight: bold;
}

 .main-container {
    /* background-color: red; */
    position: absolute;
    left: 15%;
    right: 15%;
  }

  .input-wrapper {
      border-radius: 20px;
      background-color: #ffffb3;
      opacity: 0.9;
      text-align: center;
      padding: 10px 10px;
       /* width: 360px;
       margin: auto; */
  }

  .visible-border {

    background: none;
    border-style: dashed;
    border-color: #577205;
    font-size: 20px;
  }


  .number-forms {
      width: 80px !important;
  }

  .button {
      margin: 10px 10px 5px 10px !important;
      height: 45px;
      width: 45px;
  }
  .buttons-container {
    margin-top: 10px;
    text-align: center;

  }

  #equation-div {

    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    border-style: dashed;
    border-color: #577205;
  }

  .fill-gap-space {
      height: 30px;
  }




