 h1 {
    color: #004d00;
    font-family: Impact, Charcoal, sans-serif;
 }

p {
    color:  #331a00;
    font-family: Impact, Charcoal, sans-serif;
    font-weight: bold;
}

 .main-container {
    /* background-color: red; */
    position: absolute;
    left: 15%;
    right: 15%;
  }

  .input-wrapper {
      border-radius: 20px;
      background-color: #ffff99;
      opacity: 0.9;
      text-align: center;
      padding: 10px 10px;
       /* width: 360px;
       margin: auto; */
  }


  .number-forms {
      width: 80px !important;
  }

  .button {
      margin: 10px 10px 5px 10px !important;
      height: 40px;
      width: 40px;
  }
  .buttons-container {

    text-align: center;

  }

  #equation-div {

      height: 30px;
      margin-bottom: 20px;
  }

  .fill-gap-space {
      height: 30px;
  }




