.div_demo {
    height: 50px;
    font-size: 16 px;
    font-weight: 700;
}

#cont {
    background-color: #e2eddc;
}

#div_1 {
    background-color: #8fb7f7;
}

#div_2 {
    background-color: #37598e;
}

#div_3 {
    background-color: #46a075;
}
#div_4 {
    background-color: #90bf52;
}
#div_5 {
    background-color: #dbbf59;
}
#div_6 {
    background-color:#c97e56;
}
#div_7 {
    background-color: #a04343;
}
#div_8 {
    background-color: #a892d1;
}
#div_9 {
    background-color: #2a164f;
}
#div_10 {
    background-color: #c667a7;
}
#div_11 {
    background-color: #7c5963;
}
#div_12 {
    background-color: #c1c1c1;
}