body {
    font-size: 12px;
}

#container {
    border: 5px solid #DADADA;
    background: #333;
    font-family: 'Courier New';
}

#container>div {
    display: flex;
    flex-direction: row;
}

#container>div>div {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 1.3em;
    /*color: #EEE;*/
    /*border: 1px solid #FCC1C1;*/
}

#container span {
    color: #F00 !important;
    background: #FFF;
    font-weight: bold;
    display: block;
}

#debug-container {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 20px;
    left: 100%;
    margin-left: -400px;
    width: 350px;
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #DADADA;
}

#messages {
    max-height: 100px;
    overflow-y: scroll;
    width: 400px;
    margin-top: 20px;
}

.digit-1 {
    color: #0F0;
}

.digit-2 {
    color: #6C6CF6;
}

.digit-3 {
    color: #F00;
}

.digit-4 {
    color: #0FF;
}

.digit-5 {
    color: #FF0;
}

.digit-6 {
    color: #F0F;
}

.digit-7 {
    color: #009CFF;
}

.digit-8 {
    color: #FF9900;
}

.digit-9 {
    color: #00C9FF;
}
